[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
setuptools = "*"
sslyze = "*"
tqdm = "*"
requests = "*"
tabulate = "*"
gmpy2 = "*"
pycryptodome = "*"
bs4 = "*"
primefac = {git = "https://github.com/elliptic-shiho/primefac-fork.git"}
python-magic = "*"
pyopenssl = "*"
cryptography = "*"
ecpy = "*"
fastecdsa = "*"
ecdsa = "*"

[dev-packages]

[requires]
python_version = "3.9"
